.contener{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}
.groupInput{
    display: flex;
    flex-direction: column;
}
.champInput{
    max-width: 653px;
     min-height: 40px;
     border-radius: 8px;
     padding-left: 15px;
 }
 .labelSpace{
    padding-top: 25px;
    padding-bottom: 15px;
}
.bns{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(66, 128, 245);
    margin-left: 50px;
    border-radius: 10px;
    padding: 2px 15px ;
    color:white
}
a{
    text-decoration: none;
    color: white;
}
th,td{
    padding: 10px;
}
.tr img{
    width: 160px;
    height: auto;
    margin-right: 20px;
}
.tr{
    min-width: 160px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:20px ;
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}

.blockI{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.esp{
    padding-left: 20px;
}
.barC{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    font-size: 10px;
    font-style: italic;
    font-weight: 100;
}
h4{
    font-weight: 400;
}
.lien{
    background-color: rgb(66, 128, 245);
    color: black;
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    padding: 0px 10px;
    border-radius: 10px;
    position: relative;
    margin-right: -120px;
    margin-bottom: 40px;
}
.Space{
    margin-top: 20px;
    margin-bottom: 20px;
}